<section>
    <div class="main-case-study" style="text-align: center;">
        <h1 class="title" style="text-align: center;">{{ .Params.case_title }}</h1>
        <h2 class="subtitle" style="text-align: center;">{{ .Params.case_subtitle }}</h2>
        {{ if isset .Params "case_feature_img" }}
        <iframe style="margin-left: auto; margin-right: auto;" width="889" height="667" src="{{ .Params.case_feature_img}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{ end }}
        <p class="summary">{{ .Params.case_summary }}</p>
    </div>
</section>